[submodule "rust/externals/sustenet"]
	path = rust/externals/sustenet
	url = git@github.com:Quaint-Studios/Sustenet.git
[submodule "godot/addons/gecs"]
	path = godot/addons/gecs
	url = https://github.com/makosai/gecs
	branch = makosai/changes
