{scripts/mob/attackable/player/my_player.tscn,godot/todo/scripts/mob/attackable/player/my_player.tscn,todo/scripts/mob/attackable/player/my_player.tscn,addons/dialogue_manager/views/settings_view.tscn,godot/addons/dialogue_manager/views/settings_view.tscn,addons/dialogue_manager/components/code_edit.tscn,godot/addons/gut/gui/OutputText.tscn,godot/todo/assets/skyboxes/mountain_skybox_0_night.png~,assets/characters/player/female_model.tscn,assets/characters/player/male_model.tscn,*.tif,*.asset,*.glb.unwrap_cache,*.mp3,*.mp4,*.wav,*.ogg,*.png,*.jpg,*.jpeg,*.tga,*.exr,*.hdr,*.dds,*.ktx,*.ktx2,*.webp,*.gltf,*.glb,*.blend,*.fbx,*.obj,*.dae,*.bin,*.pak,*.vpk,*.dylib,*.dll,*.so,*.exe} filter=lfs diff=lfs merge=lfs -text